@import "tailwindcss";

@theme {
  --color-default-50: var(--color-blue-50);
  --color-default-100: var(--color-blue-100);
  --color-default-200: var(--color-blue-200);
  --color-default-300: var(--color-blue-300);
  --color-default-400: var(--color-blue-400);
  --color-default-500: var(--color-blue-500);
  --color-default-600: var(--color-blue-600);
  --color-default-700: var(--color-blue-700);
  --color-default-800: var(--color-blue-800);
  --color-default-900: var(--color-blue-900);
  --color-default-950: var(--color-blue-950);

  --color-mint-500: oklch(0.72 0.11 178);

  --animate-wave: wave 3s ease-in-out infinite;
  --animate-color-shift: colorShift 6s ease-in-out infinite;
  --animate-opacity-shift: opacityShift 6s ease-in-out infinite;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }

  @keyframes colorShift {
    0%,
    100% {
      color: theme("colors.blue.500");
    }
    50% {
      color: theme("colors.blue.100");
    }
  }

  @keyframes opacityShift {
    0%,
    100% {
      opacity: 20%;
    }
    50% {
      opacity: 100%;
    }
  }
}
