@import "tailwindcss";

@theme {
  --color-default-50: var(--color-blue-50);
  --color-default-100: var(--color-blue-100);
  --color-default-200: var(--color-blue-200);
  --color-default-300: var(--color-blue-300);
  --color-default-400: var(--color-blue-400);
  --color-default-500: var(--color-blue-500);
  --color-default-600: var(--color-blue-600);
  --color-default-700: var(--color-blue-700);
  --color-default-800: var(--color-blue-800);
  --color-default-900: var(--color-blue-900);
  --color-default-950: var(--color-blue-950);

  --color-mint-500: oklch(0.72 0.11 178);

  --animate-color-shift: colorShift 6s ease-in-out infinite;
  --animate-enter-1: entrance 0.25s ease-in;
  --animate-enter-2: entrance 0.5s ease-in;
  --animate-enter-3: entrance 1.2s ease-in;
  --animate-slow-spin: spin 6s linear infinite;
  --animate-wave: wave 1s ease-in-out infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes colorShift {
    0%,
    100% {
      color: theme("colors.blue.500");
    }
    50% {
      color: theme("colors.blue.100");
    }
  }

  @keyframes entrance {
    0% {
      opacity: 0%;
      margin-bottom: 10px;
    }
    100% {
      opacity: 100%;
      margin-bottom: 0px;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes wave {
    0%,
    100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
