#jumpGame {
  width: 100%;
  height: 100%;
  margin: auto;
}

#capybara {
  width: 50px;
  height: 50px;
  background-image: url("/images/capybara.png");
  background-size: 50px 50px;
  position: relative;
  top: calc(100% - 80px);
  left: 20px;
}

.jump {
  animation: jump 0.5s linear;
}

.run {
  animation: run 0.5s infinite linear;
}

@keyframes jump {
  0% {
    top: calc(100% - 50px);
  }

  30% {
    top: calc(20% - 50px);
  }

  100% {
    top: calc(100% - 50px);
  }
}

@keyframes run {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

#rock {
  width: 35px;
  height: 35px;
  position: relative;
  top: calc(100% - 120px);
  left: calc(100% - 50px);
  background-image: url("/images/rock.png");
  background-size: 35px 35px;
}

.block {
  animation: block 1.5s infinite linear;
}

@keyframes block {
  0% {
    left: calc(100% - 40px);
  }

  100% {
    left: 0;
  }
}
